	<h3 class="get-title">感谢你提交开店申请，您已成为尾货良品创业大家庭的一员！我们相信便捷而强大的在线系统加上你的智慧和努力，必将一起开创美好的未来！！</h3>
	 <div style="font-size:16px">点击进入店铺： <a href="/weihuo/shops/myshop?shop_id=<%=@shop.shop_id%>" class="am-btn am-btn-sm get-btn">我的店铺</a></div>