<% if @exiting_shop.present? %>
<div class="return">
  <h4>您已经拥有店铺，点击<a href="/weihuo/shops/<%= @exiting_shop.first.shop_id %>">这里</a>前往您的店铺</h4>
</div>
<% else %>
<% if params[:layout] == 'weihuo' %>
<%= render 'partials/new_weihuo_shop' %>
<% else %>
<%= render 'partials/new_chuangke_shop' %>
<% end %>
<% end %>

<script type="text/javascript" src="/assets/area_seletor.js.erb"></script>
<script type="text/javascript">
  $(document).ready(function(){
    var url = '/weihuo/shops/new';
    var param = location.search.replace('?', '');
    $('.city-name').on('change', function(){
      var city_name = $(this).val();
      if(location.search) {
        location.href = location.pathname + location.search.split('&')[0] + '&city_name=' + encodeURI(city_name);
      }
      else {
        location.href += '?city_name=' + encodeURI(city_name);
      }
    });
    if(param == "") {
      var params = [];
    }
    else {
      var params = param.split('&');
      var name = decodeURI(params[1].split('=')[1])
      $('.city-name').val(name);
    }

    $('.organisation-name').on('change', function(){
      var organisation_name = $(this).val();
      if(location.search) {
        location.href = location.pathname + location.search.split('&')[0] + '&' + location.search.split('&')[1] + '&organisation_name=' + encodeURI(organisation_name);
      }
      else {
        location.href += '?organisation_name=' + encodeURI(organisation_name);
      }
    });
    if(param == "") {
      var params = [];
    }
    else {
      var params = param.split('&');
      var name = decodeURI(params[2].split('=')[1])
      $('.organisation-name').val(name);
    }

    $('.employee-name').on('change', function(){
      var employee_name = $(this).val();
       // if(params.length == 1) {
         // location.href += '&employee_name=' + encodeURI(employee_name);
       // }
        //else {
          //location.href = loc.pathname + location.search.split('&')[0] + '&employee_name=' + encodeURI(employee_name);
       // }
       location.href = location.pathname + location.search.split('&')[0] + '&' + location.search.split('&')[1] + '&' + location.search.split('&')[2] + '&employee_name=' + encodeURI(employee_name);
     });
    
    $('.employee-name').val(decodeURI(params[3].split('=')[1]));
    


    $("input[name='employee_mobile']").on('change', function(){
      var employee_mobile = $(this).attr('data-mobile');
      var mobile = $(this).val();
      if(mobile != employee_mobile) {
        $('.errmsg').text('您输入的姓名与手机号码不一致，请重新填写。');
        $(this).val('');
      }
    });

    $("input[type='button']").on('click',function(){
     if($('.organisation-name').val() == '' || $('.employee-name').val() == '' || $("input[name='employee_mobile']").val() == undefined || $("input[name='employee_mobile']").val() == '' || $('.province').val() == '' || $('.city').val() == '' || $('.address').val() == '' || $('.province').val() == undefined || $('.city').val() == undefined) {
      swal({
        title: '信息不完整',
        text: '请填写完整信息',
        type: 'warning',
        showCancelButton: false,
        closeOnConfirm: true,
        animation: "slide-from-top",
        confirmButtonText: '确定',
        timer: 5000
      });
    }
    else {
      $('.build-store').submit();
    }
  });

  })
</script>

<style type="text/css">
  .return {
    width: 80%;
    margin: 0 auto;
    vertical-align: middle;
  }
  .label-new-shop {
    color: black;

  }
  .errmsg {
    color: red;
    height: 50px;
    margin-top: -35px;
    margin-bottom: 10px;
  }
  .center {
    text-align: center;
  }
  .right {
    position: relative;
  }
  .row {
    margin-bottom: 20px;
  }
  select, input {
    width: 100%;
    margin-bottom: 20px;
  }

</style>

