<div class="container">
  <h3>特别申明</h3>
  <div class="content">
    此尾货良品，系物流仓库积压处理品的环保再利用，保障正品无假货，即使略有瑕疵，不影响功能使用。一旦购买，概不退货。
  </div>
</div>

<style type="text/css">
h3 {
  text-align: center;
}
.content {
  text-indent: 2em;
  background-color: #d9edf7;
  padding: 10px 20px;
  margin-top: 10px;
}
</style>