<div class="title"><h3>尾货良品操作文档</h3></div>

<ul class="body">
  <li class="title">
    <h3>一、 尾货良品介绍</h3>
    <div class="content">
      <p>尾货良品是物流仓库积压处理品的环保再利用，保障正品无假货，即使略有瑕疵，不影响功能使用。一旦购买，概不退货。</p>
      <p>尾货良品售卖模式是通过最了解尾货的物流公司来发动自己的送货员以微商方式分销，通过最短的销售环节，达到成本控制更加合理，帮助货主的资金回笼，提供物流仓库利用率，让尾货到达真正有需求的用户手上，变废为宝。更重要的是，通过扫二维码、销售红包等喜闻乐见的推广激励机制，拓展送货员的收入来源，有利于物流公司保持员工队伍稳定。</p>
      <p>尾货良品系统采用“互联网+”领域的最新技术理念和技术手段，具备智慧商业的顶层设计，是面向未来的创新型应用。</p>
      <p>尾货良品商业模式非常简单和清晰，消化市场上巨量的积压商品，提高了商品的价值总量，有利于各方合作伙伴和消费者，值得大力宣传推广。</p>
    </div>
  </li>
  <li class="title">
    <h3>二、代理商操作</h3>
    <ul class="subbody">
      <li class="subtitle">
        <h4>1.如何开店，加入成为代理商?</h4>
        <div class="content">
          <p>方法一：关注贸威优品商城，进入尾货良品，扫描申请二维码后填写信息，确认填写信息无误，待后台审核通过后，即可成为代理商；（仅万家网点，如有问题请及时联系我们 ）</p>
          <img src="/images/guide/using_guide1.JPG">
          <img src="/images/guide/using_guide13.JPG">
          <p>方法二：关注贸威优品商城，进入”不了，先随便逛逛吧“中，点击个人中心的代理加盟，确认填写信息无误，待后台审核通过后，即可成为代理商；（仅万家网点，如有问题请及时联系 ）</p>
          <img src="/images/guide/using_guide1.JPG">
          <img src="/images/guide/using_guide2.JPG">
          <img src="/images/guide/using_guide3.JPG">
          <img src="/images/guide/using_guide4.JPG">
        </div>
      </li>
      <li class="subtitle">
        <h4>2.如何销售尾货?</h4>
        <p>点击商品进入商品详情，点击尾货大图后，可以扫二维码直接购买（注意：扫二维码付款时，代理商要确定客户已收货，此路径完成订单后会直接发分成红包）；</p>
        <img src="/images/guide/using_guide5.JPG">
        <img src="/images/guide/using_guide6.JPG">
        <p>如要处理订单，可进入自己的尾货商城后，点击代理管理进入客户订单页面，点击订单的订单时间进入订单详情（已支付是天蓝色，发货订单完成后是淡绿色，未完成不变色），点击发货，待后台审核成功后分成会以红包形式发送给代理商</p>
        <img src="/images/guide/using_guide10.JPG">
        <img src="/images/guide/using_guide7.JPG">
      </li>
      <li class="subtitle">
        <h4>3.如何收藏和分享商城</h4>
        <p>收藏商城：</p>
        <p>方法一：进入自己代理商城后，点分享商城，扫二维码后点右上方收藏即可。</p>
        <p>方法二：进入自己代理商城后，点分享商城，扫二维码后，进入个人中心的商城信息即可找到所收藏的商城</p>
        <img src="/images/guide/using_guide11.JPG">
        <img src="/images/guide/using_guide12.JPG">
      </li>
      <li class="subtitle">
        <h4>4.代理管理介绍</h4>
        <p>（1）进入自己代理商城后，点击代理管理</p>
        <p>（2）查看用户：查看已购买商品的用户和消费详情</p>
        <p>（3）我的红包：查看红包发送领取状态和红包详情</p>
        <p>（4）客户订单：可查看商品信息和分成</p>
      </li>
      <li class="subtitle">
        <h4>5.个人中心介绍</h4>
        <p>（1）进入自己代理商城后，点击个人中心</p>
        <p>（2）我的订单：可查看客户自己的尾货订单</p>
        <p>（3）商城信息：查看已收藏的商城</p>
        <p>（4）购物车：查看加入购物车的尾货</p>
        <p>（5）代理加盟：扫二维码代理商加盟</p>
      </li>
    </ul>
  </li>
  <li class="title">
    <h3>三、尾货商品准备和运营</h3>
    <ul class="sbubody">
      <li class="subtitle">
        <h4>1、协议签订：</h4>
        <p>与供货商签订销售协议，确认尾货成本和销售尾货种类。</p>
        <p>尾货准备：</p>
        <p>（1）尾货头图（4张：大图 600*600  2张，小图 200*200 2张 ）；</p>
        <p>（2）尾货信息（尾货名，品牌名，尾货描述，尾货介绍图）</p>
        <p>（3）尾货价格；</p>
        <p>（4）尾货库存；</p>
      </li>
      <li class="subtitle">
        <h4>2、尾货运营：</h4>
        <p>（1）明确分成比例和分成结账时间</p>
        <p>（2）确定每日的红包发送时间和库存更新时间</p>
      </li>
    </ul>
  </li>
</ul>

<style type="text/css">
  .title {
    text-align: center;
    margin-top: 20px;
  }
  .title h3 {
    font-size: 2em;
  }
  .body {
    margin: 20px auto;
    padding: 0 15px;
  }
  p {
    text-indent: 2em;
  }
  .body .title {
    text-align: left;
  }
  .body .title h3 {
    font-size: 1.4em;
  }
  ul, li {
    list-style: none;
  }
  img {
    margin-left: -5px;
    padding-left: 0;
    text-indent: 0;
    width: 90%;
  }
</style>