<div class="title">
  <h3>社区创客模式</h3>
</div>

<div class="body">
  <p>社区是社会机体的一个基本细胞，是广大居民的家园，社区的和谐安定，居民的生活快乐便捷，是整个社会和谐安宁的基础。</p>
  <p>在上海进入深度老龄化社会的背景下，为社区居民，特别是居家老人，提供利民、便民、惠民服务，是企业应尽的社会职责。</p>
  <p>当前社会进入“互联网+”时代，各种社会公益组织和企业，可以利用最新的电子网络手段，不断提升为社区居民服务的水平，为社区居民提供更优质的服务。通过“爱心进社区，实惠进家庭”活动，还能引进“大众创业、万众创新”的国策，为解决就业、提高全社区创新能力搭建平台。同时，组建起志愿者队伍，使便民、利民、惠民活动做到常态化，可持续发展。通过社区创客举办活动，旨在进一步接地气，与社区需求无缝对接，完善为社区居民精准服务的长效机制。</p>
  <ul>服务内容：
    <li>开设社区共建服务点，建立健康教育示范点，为社区居民建立健康档案。</li>
    <li>提供安全放心食品优惠于民。使用中粮专供东北优质稻花香稻谷，为居民供应现场现磨香米活动；上海瑞今农产品有限公司提供海南农产品，通过互联网平台连接消费数据，自动转化积分，实惠于民。</li>
    <li>配合社区举行公益活动，现场发放慰问品。</li>
    <li>为创客搭建创业、创新平台，建立志愿者服务团队，为有需求的家庭推出不同便民服务项目。</li>
    <li>探索居家养老具体需求，尝试提供居家宝智能化服务。为居家养老的居民提高生活质量，聘请有经验的装修专家，现场对于有需求的老人提供完善的装修方案。</li>
  </ul>
  <div>
    主办单位：居委会、业主委员会、物业管委会。
    承办单位：上海长宁区成耀便民服务中心、上海瑞今农产品有限公司、和梦（上海）企业管理中心。
    协办单位：中粮米业（吉林）有限公司、中粮东北稻谷现磨连锁服务、中粮米业＼食用油系列产品、中粮厨房系列食品、副食品、有机及绿色无公害系列产品、厦门市橡树黑土地工贸有限公司。
    支持单位：全国慢性病防治工程推广办公室、上海市健康教育所、上海心昐健康管理中心、上海享护信息技术有限公司、上海普慧信息科技有限公司、北京易动天地科技有限公司、上海飞巢旅游管理有限公司。
  </div>
</div>

<style type="text/css">
.titel {
  text-align: center;
  margin-bottom: 20px;
}
ul {
  list-style: disc;
}
</style>