#main,
.container{
  width: 950px;
}

.products {
  .left {
    float:left;
    width: 195px;
    margin-top: 2px;
  }
  .right {
    float:right;
    width: 735px;
  }
  .gallery-tag-name {
    line-height: 1.6em;
    
   
  }
  .categories {
   a {
    display: block;
   }
  }
  .goods {

    margin-left: 50px;
  }
  
}
#position{
  // margin-top: -18px;
  margin-top: -2px;
}
#position .current_pos {
  float: left;
  color: black;
  height: 28px;
  line-height: 28px;
  font-size: 13px;
  padding-right: 10px;
  text-shadow: 0 1px 0 white;
}
.position-list {
  /*padding: 8px 15px;*/
  padding: 0;
  margin: 0;
  list-style: none;
  /*background-color: #f4f3f7;*/
  background-color: #fff;
  font-size: 13px;
  /*width: 500px;*/
  float: left;
}

.position-list li {
 height: 28px;
 line-height: 28px;
 text-shadow: 0 1px 0 #ffffff;

 float: left;
}
.position-list li a{
  color: #555;
}
.position-list .divider {
  padding: 0 5px;
  color: #ccc;
}

.position-list .active {
  color: #999999;
}
.products {
  .gallery-cats {
    padding-left: 20px;
    margin: 5px 0;
  }
  .gallery-tag-name {
    font-size: 1.1em;
    padding: 5px;
  }
}

.click-color {
  background-color: rgb(27, 207, 113);
  color: white;
}
.item-color {
  color: rgb(27, 207, 113);
}

@import 'goods_list.css.scss';




