<!DOCTYPE html>
<html lang="zh-CN"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <link rel="stylesheet" href="/new_mobile/css/base.s.min.css">
    <link rel="stylesheet" href="/new_mobile/css/mod_nav_foot.s.min.css">
    <link rel="stylesheet" href="/new_mobile/css/sq_fixed_foot.s.min.css?t=1428914745">
    
<%= yield %>

<div class="qq_footer"><div class="jd_logo" id="jdBtmLogo" ptag="7031.9.3"></div><div class="qq_info">页面内容由贸威提供，正品保障，极速发货。</div></div><div class="QQ_fixed_foot"><div class="foot_inner"><a href="javascript:;" class="" data-link="/mobile" ptag=""><span class="line"><i class="tab_7_icon"></i></span> <span class="text">精选</span></a><a href="javascript:;" data-link="/mobile" ptag="37128.9.2" style="display:" class=""><span class="line"><i class="tab_8_icon"></i></span>   <span class="text">搜索</span> </a><a href="javascript:;" data-link="/mobile" ptag="37128.9.3" class="" needlogin="1"><span class="line"><i class="tab_9_icon"></i></span>        <span class="text">购物车</span> </a> <a href="/mobile/user_center" data-link="#" ptag="37128.9.4" class=" on" needlogin="1"><span class="line"><i class="tab_10_icon"></i></span>  <span class="text">个人中心</span> </a> </div></div></body></html>